<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <h2>Formulário de Marcações</h2>
    <div class="row">
      <form action="/vendas" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <select name="staff" id="staff">
              <% if (staffs.length > 0){%>
              <option value="" disabled selected>
                Selecione o Funcionario
              </option>
              <% staffs.forEach(staff=>{ %>
              <option value="<%= staff._id %>"><%= staff.conta.nome %></option>
              <% }) %> <% } else { %>
              <option disabled>Não há funcionarios para mostrar</option>
              <% } %>
            </select>
            <label for="staff">Nome Funcionario</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="cliente" id="cliente">
              <% if (clientes.length > 0){%>
              <option value="" disabled selected>Selecione o Cliente</option>
              <% clientes.forEach(cliente=>{ %>
              <option value="<%= cliente._id %>">
                <%= cliente.conta.nome %>
              </option>
              <% }) %> <% } else { %>
              <option disabled>Não há clientes para mostrar</option>
              <% } %>
            </select>
            <label for="cliente">Cliente</label>
          </div>
        </div>

        <div class="row">
          <div class="col s12" style="margin: 0;">
            <label for="">Pesquisar por Producto / Serviço...</label>
            <input type="text" class="pesquisar" />
            <ul class="collection collection-pesquisar">
              <!-- Autocomplete Aqui -->
            </ul>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col s12">
            <ul class="collection caixa">
              <li class="collection-header"><h4>Caixa</h4></li>
                          </ul>
          </div>
        </div> -->

        <div class="row">
          <div class="col s12">
            <table class="tblCaixa">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Producto / Serviço</th>
                  <th>Valor</th>
                  <th>Quantidade</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead> 
              <tbody class="caixa">

              </tbody>
            </table>
          </div>
        </div>

        <input type="submit" value="Cadastrar" />
        <input type="reset" value="Limpar" />
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
