<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <label >Pesquisar:</label>
        <input
          type="search"
          class="input-field input-pesquisa"
        />
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Staff</th>
            <th>Valor Total</th>
            <th>Valor Pago</th>
            <th>Valor Remanescente</th>
            <th>Data Venda</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <% if (vendas.length > 0) {%>
          <%vendas.forEach(venda => {%>
        <tr>
          <td><%=venda._id%></td>
          <td><%=venda.cliente.conta.nome%></td>
          <td><%=venda.staff.conta.nome%></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%=venda.createdAt%></td>
          <td>
            <a class='dropdown-trigger btn-flat #eeeeee grey lighten-3' href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">Editar</a></li>
                  <li><a href="#!">Excluir</a></li>
                </ul>
          </td>
        </tr>
        <% }) %> <% } else { %>
          <tr>
            <td colspan="8">Sem Productos / Serviços para mostrar</td>
          </tr>
          <% } %>
      </tbody>
    </table>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
