<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <h2>Cosulta de Productos / Serviços</h2>
    <div class="row">
      <div class="input-field  col s12">
        <label for="pesquisa">Pesquisar:</label>
        <input type="text" />
      </div>
    </div>
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Producto / Serviço</th>
            <th>Descrição</th>
            <th>Sequencia</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Valor de Compra</th>
            <th>Valor de Venda</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <% if (productoservicos.length > 0) {%>
          <%productoservicos.forEach(productoservico => {%>
        <tr>
          <td><%=productoservico._id%></td>
          <td><%=productoservico.productoServico%></td>
          <td><%=productoservico.descricao%></td>
          <td><%=productoservico.categoria.sequencia%></td>
          <td><%=productoservico.categoria.categoria%></td>
          <td><%=productoservico.quantidade%></td>
          <td><%=productoservico.valorCompra%></td>
          <td><%=productoservico.valorVenda%></td>
          <td>
            <a class='dropdown-trigger btn-flat #eeeeee grey lighten-3' href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">Editar</a></li>
                  <li><a href="#!">Excluir</a></li>
                </ul>
          </td>
        </tr>
        <% }) %> <% } else { %>
          <tr>
            <td colspan="4">Sem Productos / Serviços para mostrar</td>
          </tr>
          <% } %>
      </tbody>
    </table>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
