<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <div class="card-header">
      <h2>Listagem de</h2>
    </div>
    <div class="container">
      <div class="input-container">
        <label for="pesquisa">Pesquisar:</label>
        <input
          type="search"
          id="pesquisa"
          class="input-field input-pesquisa"
          placeholder="Pesquisar por categorias.."
          title="Digite a categoria"
        />
      </div>
      <%= result%>
      <table class="display-table">
        <tr class="header">
          <th style="width:60%;">Name</th>
          <th style="width:40%;">Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Sweden</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Koniglich Essen</td>
          <td>Germany</td>
        </tr>
      </table>
      
      <ul class="display-list">
       
      </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
