<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <div class="container">
      <table class="display-table">
        <tr class="header">
          <th>Nome</th>
          <th>Genero</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Desconto</th>
          <th>Dt Criado</th>
          <th>Dt Alterado</th>
          <th>Estado</th>
        </tr>
        <% if (clientes.length > 0){%> <% clientes.forEach(cliente=>{ %>
        <tr>
          <td><%= cliente.conta.nome%></td>
          <td><%= cliente.genero%></td>
          <td><%= cliente.conta.email%></td>
          <td><%= cliente.conta.telefone%></td>
          <td><%= cliente.desconto%></td>
          <td><%= cliente.createdAt%></td>
          <td><%= cliente.updatedAt%></td>
          <td><%= cliente.estado%></td>
          <% }) %> <% } else { %>
          <p>Não há clientes a mostrar</p>
          <% } %>
        </tr>
      </table>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
