<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/mystyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="flex-container">
      <%- include('../partials/sidebar.ejs') %>

      <div class="flex-column container">
        <%- include('../partials/head.ejs') %>
        <main class="content">
          <div class="card">
            <form
              class="form-container"
              id="form-agenda"
              action="/marcacoes"
              method="post"
            >
              <div
                class="image-container"
                style="display: flex; justify-content: center; margin-top: 15px"
              >
                <img
                  src="/vector-g60ff9bea0_640.png"
                  alt="Avatar"
                  class="avatar"
                  width="150"
                  height="200"
                />
              </div>
  
              <div class="container">
                <label for="staff">Nome Funcionario</label>
                <select name="staff" id="staff">
                  <% if (staffs.length > 0){%> 
                    <option value="-1" disabled selected>Selecione o Funcionario</option>
                    <% staffs.forEach(staff=>{ %>
                    <option value="<%= staff._id %>"><%= staff.conta.nome %></option>
                    <% }) %>
                   <% } else { %>
                      <option disabled>Não há funcionarios para mostrar</option>
                    <% } %>
                </select>
  
                <label for="productoServico">Producto / Serviço</label>
                <select name="productoServico" id="productoServico">
                  <% if (productosServicos.length > 0){%> 
                    <option value="" disabled selected>Selecione o Producto</option>
                    <% productosServicos.forEach(productoServico=>{ %>
                    <option value="<%= productoServico._id %>"><%= productoServico.productoServico %></option>
                    <% }) %> 
                  <% } else { %>
                      <option disabled>Não há productos para mostrar</option>
                    <% } %>
                </select>

                <label for="cliente">Cliente</label>
                <select name="cliente" id="cliente">
                  <% if (clientes.length > 0){%> 
                    <option value="" disabled selected>Selecione o Cliente</option>
                    <% clientes.forEach(cliente=>{ %>
                    <option value="<%= cliente._id %>"><%= cliente.conta.nome %></option>
                    <% }) %> 
                  <% } else { %>
                      <option disabled>Não há clientes para mostrar</option>
                    <% } %>
                </select>

                <!-- Default data Today -->
                <label for="dataMarcacao">Data</label>
                <input
                  type="date"
                  placeholder="Selecione a Imagem."
                  name="dataMarcacao"
                  id="dataMarcacao"
                />
                <!-- Default time Now -->
                <label for="horaMarcacao">Hora</label>
                <input
                  type="time"
                  placeholder="Selecione a Imagem."
                  name="horaMarcacao"
                  id="horaMarcacao"
                />
                
                <button type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>

    <!-- <script>
      const formulario = document.querySelector('#form-agenda')
      formulario.addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log(formulario.getElementsByTagName("dia")[0].dataset.dia[0])
      })
    </script> -->
  </body>
</html>
