<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> 
    <%- include('../partials/header.ejs') %>
    <h2>Formulário de Marcações</h2>
    <div class="row">
      <form action="/marcacoes" method="post" class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <select name="staff" id="staff">
              <% if (staffs.length > 0){%>
              <option value="" disabled selected>Selecione o Funcionario</option>
              <% staffs.forEach(staff=>{ %>
              <option value="<%= staff._id %>"><%= staff.conta.nome %></option>
              <% }) %> <% } else { %>
              <option disabled>Não há funcionarios para mostrar</option>
              <% } %>
            </select>
            <label for="staff">Nome Funcionario</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="productoServico" id="productoServico">
              <% if (productosServicos.length > 0){%>
              <option value="" disabled selected>Selecione o Producto</option>
              <% productosServicos.forEach(productoServico=>{ %>
              <option value="<%= productoServico._id %>">
                <%= productoServico.productoServico %>
              </option>
              <% }) %> <% } else { %>
              <option disabled>Não há productos para mostrar</option>
              <% } %>
            </select>
            <label for="productoServico">Producto / Serviço</label>
          </div>
        </div>
        

        <div class="row">
          <div class="input-field col s12">            
            <select name="cliente" id="cliente">
              <% if (clientes.length > 0){%>
              <option value="" disabled selected>Selecione o Cliente</option>
              <% clientes.forEach(cliente=>{ %>
              <option value="<%= cliente._id %>">
                <%= cliente.conta.nome %>
              </option>
              <% }) %> <% } else { %>
              <option disabled>Não há clientes para mostrar</option>
              <% } %>
            </select>
            <label for="cliente">Cliente</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s6">
            <label for="dataMarcacao">Data</label>
            <input type="date" name="dataMarcacao" id="dataMarcacao" placeholder=""/>
          </div>
  
          <div class="input-field col s6">
            <label for="horaMarcacao">Hora</label>
            <input type="time" name="horaMarcacao" id="horaMarcacao" placeholder=""/>
          </div>
        </div>
        <%- include('../partials/buttons.ejs') %>    
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
