<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <h2>Cosulta de Marcações</h2>
    <div class="row">
      <div class="input-field  col s12">
        <label for="pesquisa">Pesquisar:</label>
        <input type="text" />
      </div>
    </div>
      <table class="display-table">
        <tr class="header">
          <th>ID</th>
          <th>Nome Cliente</th>
          <th>Desconto</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Producto / Serviço</th>
          <th>Staff</th>
          <th>Estado</th>
          <th></th>
        </tr>
        <% if (marcacoes.length > 0){%> <% marcacoes.forEach(marcacao=>{ %>
        <tr>
          <td><%= marcacao._id%></td>
          <td><%= marcacao.cliente.conta.nome%></td>
          <td><%= marcacao.cliente.desconto%></td>
          <td><%= marcacao.dataMarcacao%></td>
          <td><%= marcacao.horaMarcacao%></td>
          <td><%= marcacao.productoServico.productoServico%></td>
          <td><%= marcacao.staff.conta.nome%></td>
          <td><%= marcacao.estado%></td>
          <td>
            <a class='dropdown-trigger btn-flat #eeeeee grey lighten-3' href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">Editar</a></li>
                  <li><a href="#!">Encerrar</a></li>
                  <li><a href="#!">Cancelar</a></li>
                </ul>
          </td>
          <% }) %> <% } else { %>
            <tr>
              <td colspan="9">Sem marcações para mostrar</td>
            </tr>
          <% } %>
        </tr>
      </table>
    
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
