<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <div class="container">
      <table class="display-table">
        <tr class="header">
          <th>Nome Cliente</th>
          <th>Desconto</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Producto / Serviço</th>
          <th>Staff</th>
          <th>Estado</th>
        </tr>
        <% if (marcacoes.length > 0){%> <% marcacoes.forEach(marcacao=>{ %>
        <tr>
          <td><%= marcacao.cliente.conta.nome%></td>
          <td><%= marcacao.cliente.desconto%></td>
          <td><%= marcacao.dataMarcacao%></td>
          <td><%= marcacao.horaMarcacao%></td>
          <td><%= marcacao.productoservico%></td>
          <td><%= marcacao.staff.conta.nome%></td>
          <td><%= marcacao.estado%></td>
          
          <% }) %> <% } else { %>
          <p>Não há clientes a mostrar</p>
          <% } %>
        </tr>
      </table>
    </div>
    <%- include('../partials/footer.ejs') %>
    
            <% if (marcacoes.length > 0){%> <% marcacoes.forEach(marcacao=>{ %>
            <a href="#">marcacao.cliente.conta.nome</a>
            <p><%= marcacao.dataMarcacao %></p>
            <p><%= marcacao.horaMarcacao %></p>
            <% }) %> <% } else { %>
            <p>Não há marcações para mostrar</p>
            <% } %>
          
  </body>
</html>
