<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/mystyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="flex-container">
      <%- include('../partials/sidebar.ejs') %>

      <div class="flex-column container">
        <%- include('../partials/head.ejs') %>
        <main class="content">
          <div class="card">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>Data</th>
                  <th>Hora</th>
                  <th>Producto</th>
                  <th>Funcionario</th>
                  <th>Estado</th>
                </tr>
                <tr>
                  <th></th>
                  <th><input type="text" /></th>
                  <th><input type="text" /></th>
                  <th><input type="text" /></th>
                  <th><input type="text" /></th>
                  <th><input type="text" /></th>
                  <th><input type="text" /></th>
                </tr>
              </thead>
              <tbody>
                <% if (marcacoes.length > 0){%> <% marcacoes.forEach(marcacao=>{ %>
                <tr>
                    <td></td>
                  <td><%= marcacao.cliente.conta.nome %></td>
                  <td><%= marcacao.dataMarcacao %></td>
                  <td><%= marcacao.horaMarcacao %></td>
                  <td><%= marcacao.productoServico.productoServico %></td>
                  <td><%= marcacao.staff.conta.nome %></td>
                  <td><%= marcacao.estado %></td>
                </tr>
                <% }) %> <% } else { %>
                <tr>
                  <td>Não há contas para mostrar</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
