<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Estado</th>
                <th>Data Criado</th>
                <th>Data Actualizado</th>
            </tr>
        </thead>
        <tbody>
            <% if (contas.length > 0){%>
            <% contas.forEach(conta=>{ %>
                <tr>
                    <td><%= conta.nome %></td>
                    <td><%= conta.email %></td>
                    <td><%= conta.telefone %></td>
                    <td><%= conta.estado %></td>
                    <td><%= conta.createdAt %></td>
                    <td><%= conta.updatedAt %></td> 
                </tr>
            <% }) %>
            <% } else { %>
                <tr><td>Não há contas para mostrar</td></tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>