<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <form action="">
        <div class="form-group">
        </div>
        <label for="nome">Nome Funcionario</label>
            <input
              type="text"
              name="nome"
              id="nome"
              value="<%= staffAgenda.conta.nome %>"
              data-idConta=""
              readonly
            />

            <label for="telefone">Telefone</label>
            <input
              type="text"
              placeholder="Digite seu telefone."
              name="telefone"
              id="telefone"
              value="<%= staffAgenda.conta.telefone %>"
              required
            />

            <label for="email">E-mail</label>
            <input
              type="text"
              placeholder="Digite seu e-mail..."
              name="email"
              id="email"
              value="<%= staffAgenda.conta.email %>"
              required
            />

            <label for="funcao">Função</label>
            <input
              type="text"
              placeholder="Digite a Função."
              name="funcao"
              id="funcao"
              value="<%= staffAgenda.funcao %>"
              required
            />
            <label for="imagem">Imagem</label>
            <input
              type="text"
              placeholder="Selecione a Imagem."
              name="imagem"
              id="imagem"
            />
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>

   
    <!-- <script>
      const formulario = document.querySelector('#form-agenda')
      formulario.addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log(formulario.getElementsByTagName("dia")[0].dataset.dia[0])
      })
    </script> -->
  </body>
</html>
