<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/sidebar.ejs') %> <%-
    include('../partials/header.ejs') %>
    <h2>Cadastro Staff</h2>
    
    <div class="row">
      <form action="/staff/update/<%=staff._id%>" method="put" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <label for="nome">Nome Completo</label>
            <input type="text" name="nome" id="nome" value="<%= staff.conta.nome%>" required />
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <label for="bi">BI</label>
            <input type="text" name="bi" id="bi" value="<%= staff.bi%>" required/>
          </div>
          <div class="input-field col s6">
            <label for="funcao">Função</label>
            <input type="text" name="funcao" id="funcao" value="<%= staff.funcao%>" required/>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input type="date" name="nascimento" id="nascimento" value="<%= staff.nascimento%>" required />
            <label for="nascimento">Nascimento</label>
          </div>
          <div class="input-field col s6">
            <select name="genero" id="genero">
              <option value="0" disabled>Selecione o Gênero</option>
              <option value="M"  <%= staff.genero === 'M' ? 'Selected' : '' %> >Masculino</option>
              <option value="F" <%= staff.genero === 'F' ? 'Selected' : '' %>>Feminino</option>
            </select>
            <label for="genero">Gênero</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" value="<%= staff.conta.telefone%>" required />
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" value="<%= staff.conta.email%>" required />
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" value="<%= staff.conta.senha%>" required />
          </div>
          <div class="input-field col s6">
            <label for="confirma">Confirmar</label>
            <input type="password" name="confirma" id="confirma" value="<%= staff.conta.senha%>" required/>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label for="imagem">Imagem</label>
            <input type="text" name="imagem" value="<%= staff.imagem%>" id="imagem" />
          </div>
        </div>

        
        <div class="row">
          <div class="input-field col s12">
            <label for="endereco">Endereço</label>
            <input type="text" name="endereco" id="endereco" value="<%= staff.endereco.endereco%>" />
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" id="cidade" value="<%= staff.endereco.cidade%>" />
          </div>
          <div class="input-field col s6">
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" id="bairro" value="<%= staff.endereco.bairro%>"/>
          </div>
        </div>

        <input type="hidden" name="staff" id="staff" value="true" />

        <input type="button" value="Cadastrar" />
        <input type="reset" value="Limpar" />
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
